.contact {
  &-content {
    @include display-flex(space-between, initial);
  }
  &-block {
    width: 50vw;

    &--map {
      padding-left: 10px;
      max-width: 75rem;
    }

    &--info {
      @include display-flex(space-between, flex-start, column);
    }

    &__map {
      position: relative;
      padding-bottom: 70.25%;
      padding-right: 50.25%;
      height: 0;
      overflow: hidden;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__social-media {
    @include display-flex(center, flex-end);
    gap: 1rem;
    font-size: 4rem;

    a {
      color: rgba(0, 0, 0, 0.54);
      transition: color 0.25s ease-in-out;
      @include display-flex(center, flex-end);
      &:hover {
        color: $color-black;
      }
    }
  }
}
