.services-page {
  img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    filter: brightness(75%);
  }
}

.service {
  &__block {
    @include display-flex(initial, flex-start);
    margin-top: 1rem;
  }

  &__text {
    &--video {
      height: 70rem;
      overflow-y: auto;
      padding-right: 5rem;
      margin-right: 5rem;
      &::-webkit-scrollbar-thumb {
        border: 0.6rem solid rgba(0, 0, 0, 0.841);
      }
    }
  }

  &__video {
    @include display-flex(initial);
    gap: 10rem;
    background-color: $color-gray-background;
  }

  &__video-container {
    width: 100%;

    video {
      display: block;
    }
  }
}
