@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.navbar {
  @include display-flex(space-between, flex-start);
  background-color: transparent;
  position: inherit;
  z-index: 2;

  &__menu {
    margin-top: 1rem;
    cursor: pointer;

    &--active {
      span:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
      }
    }
  }

  &__menu-line {
    display: flex;
    width: 6rem;
    height: 0.4rem;
    -webkit-transition: 1s cubic-bezier(0.07, 0.95, 0, 1);
    transition: 1s cubic-bezier(0.07, 0.95, 0, 1);
    margin-bottom: 0.8rem;
    background: $color-white;
  }
}
