@keyframes fadeInArrowRight {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutArrowRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-1rem);
  }
}

@keyframes fadeInArrowLeft {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutArrowLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(1rem);
  }
}

@keyframes fadeInBackdrop {
  0% {
    background-color: transparent;
    width: 0;
    height: 0;
  }

  1% {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
  }

  100% {
    background-color: rgba(0, 0, 0, 0.45);
  }
}

@keyframes fadeOutBackdrop {
  0% {
    background-color: rgba(0, 0, 0, 0.45);
    width: 100vw;
    height: 100vh;
  }

  99% {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
  }

  100% {
    width: 0;
    height: 0;
  }
}
