*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 0.6rem;
  background-color: transparent;
  position: absolute;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  border: 0.6rem solid rgba(0, 0, 0, 0.856);
}

html {
  font-size: 62.5%; /* 10px = 10 * 0.625 || 10 / 16 */
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
}
