// SPACING
.u-padding-medium {
  padding: 2.5rem 3rem;
}

.u-margin-medium {
  margin: 2.5rem 3rem;
}

.u-margin-extra-large {
  margin: 10rem;
}

.u-padding-large {
  padding: 4rem 4.5rem;
}

.u-padding-top-bottom-medium {
  padding: 2rem 0;
}

.u-padding-top-bottom-small {
  padding: 1.3rem 0;
}

.u-padding-top-bottom-medium-large {
  padding: 3rem 0;
}

.u-padding-top-medium {
  padding-top: 2rem;
}

.u-padding-bottom-medium {
  padding-bottom: 2rem;
}

.u-margin-left-small {
  margin-left: 1.3rem;
}

.u-margin-left-medium {
  margin-left: 2rem;
}

.u-margin-left-right-medium {
  margin: 0 2rem;
}

.u-margin-bottom-medium-large {
  margin-bottom: 4rem;
}

.u-margin-right-medium {
  margin-right: 2rem;
}

.u-margin-left-auto {
  margin-left: auto;
}

.u-margin-left-big {
  margin-left: 7rem;
}

//WEIGHT
.u-bold {
  font-weight: 600;
}

@media (max-width: 800px) {
  .u-padding-medium {
    padding: 1.25rem 1.5rem;
  }
}
