// SPACING
.u-padding-medium {
  padding: 2.5rem 3rem;
}

.u-padding-top-bottom-medium {
  padding: 2rem 0;
}

.u-margin-left-small {
  margin-left: 1.3rem;
}

.u-margin-left-medium {
  margin-left: 2rem;
}

.u-margin-left-right-medium {
  margin: 0 2rem;
}

.u-margin-left-auto {
  margin-left: auto;
}

.u-margin-left-big {
  margin-left: 7rem;
}

//WEIGHT
.u-bold {
  font-weight: 600;
}
